doctype html
html
    head
        block head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title Name Application | #{title}

body
    h1 Name Application
    ol
        each value in names
            li=value.name + ': ' + value.amount
    
    a(class='coloured_button' href='/names?sort=name') Alphabetical Order
    br
    br
    a(class='coloured_button' href='/names/total') Total Amount Of The Names
    div
        p Check the amount of the specific name by typing the name:
        form(action='/names/name_total')
            label(for='name') Name:
            br
            input(type='text' id='name' name='name' required)
            br
            br
            input(class='coloured_button' type='submit' value='Submit')
